name: Deploy

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Deploy to server
        uses: appleboy/ssh-action@v1
        with:
          host: ${{ secrets.SERVER_HOST }}
          username: ${{ secrets.SERVER_USER }}
          key: ${{ secrets.SSH_PRIVATE_KEY }}
          script: |
            cd /opt/apps
            if [ -d "test-deploy" ]; then
              cd test-deploy
              git pull
            else
              git clone https://github.com/monghit-server/test-deploy.git
              cd test-deploy
            fi
            docker compose down
            docker compose up -d --build
