name: Validate Version

on:
  pull_request:
    branches:
      - main

jobs:
  validate:
    uses: monghit-server/.github/workflows/validate-pr.yml@main
    secrets:
      N8N_WEBHOOK_TO_TELEGRAM_URL: ${{ secrets.N8N_WEBHOOK_TO_TELEGRAM_URL }}
